.pisanka{
    width: 200px;
    height: 400px;
    float: left;
    border: 1px solid black;
}
.grafika{
    width: 50%;
    margin: auto;
    display: block;
}
.nazwa{
    text-align: center;
    font-size: larger;
}
.cena{
    text-align: right;
    
}
.dokoszyka{
    display: block;
    margin: auto;
    width: 150px;
}